
nav .navbar-nav li a{
    color: rgb(139, 146, 177) !important;
}

nav .navbar-nav li a:hover{
    background: #d65106;
    color: #fff !important;
}

.active{
	background: #d65106;
	color: #ffffff !important;
	border-radius: 4px;
}

.navbar{
    background: #2B2B2B !important;
    width: 100%;
}

.right {
  float: right;
  text-align: right;
}

.left{
  float: left;
  text-align: left;
}

.tapas-header {
  padding: 250px 0 150px;
  background: url(../img/titulos/tapa.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  position: relative;
}

.distribucion-header {
  padding: 250px 0 150px;
  background: url(../img/titulos/mesas.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  position: relative;
}

.bebidas-header {
  padding: 250px 0 150px;
  background: url(../img/titulos/bebida.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  position: relative;
}

.titulo .container{
	position: relative;
	z-index: 2;
}
.titulo::before{
	background: #010101;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	opacity: 0.7;
}
.titulo h1{
	font-size: 38px;
	color: #ffffff;
    font-family: 'Playfair Display', serif !important;
	padding: 0px;
	font-weight: 500;
}

.title {
    font-family: 'Playfair Display', serif !important;
    font-size: 3rem;
}

body
{
    font-family: 'Helvetica' sans-serif;
    font-size: 1.1rem;
    background-color: #F3F3F3;
}


.center {
    text-align: center;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-personalizado {
    background-color: #073B15;
  }

.btn-personalizado:hover {
    text-decoration: none;
  }

.mesa-title {
    color: #073B15;
    font-weight: bold;
    font-size: 1.25 em
  }

.listing {

    list-style: none;
    padding-left: 0;
}

.centrado {
    margin: 0 auto;
}

.mtg {
    margin-top: 120px;
}

.sinestilo {
    text-decoration: none;
}

.bottomf{
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    height:60px;
    z-index:0;
}

.infom{
    background-color: #F3F3F3;
}

/* ============ desktop view ============ */
@media all and (min-width: 601px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }

  body {
    font-size: 1.1rem;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 600px) {

  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }

  body {
    font-size: 0.9rem;
  }

  .table100.ver3 td {
    font-size: 0.7rem !important;
    color: #808080;
    line-height: 1.4;
  }

  .table100.ver3 th {
    font-size: 0.8rem !important;
  }

  .btn {
    width: fit-content;
    font-size: 0.7rem;
  }

  .row100.head th {
    padding-top: 1.05rem;
    padding-bottom: 1.05rem;
  }

  .row100 td {
    padding-top: 12px;
    padding-bottom: 9px;
  }

  .mtg {
    margin-top: 100px;
    }

    .tapas-header {
        padding: 110px 0 82px;
        background-size: 100% 55%;
      }

      .distribucion-header {
        padding: 110px 0 82px;
        background-size: 100% 55%;
      }

      .bebidas-header {
        padding: 110px 0 82px;
        background-size: 100% 55%;
      }

}

@media (max-width: 500px) {

    .enlaces {
        font-size: 0.7rem;
    }

    .table100.ver3 td {
      font-size: 0.55rem !important;
      color: #808080;
      line-height: 1.4;
    }

    .table100.ver3 th {
      font-size: 0.65rem !important;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
      background-color: #6c7ae0;
    }

    .mtg {
        margin-top: 90px;
        }
  }

  @media (max-width: 430px) {
    .enlaces {
        font-size: 0.6rem;
    }

    th, td {
        font-weight: unset;
        padding-right: 0.2rem;
      }

    .table100.ver3 td {
      font-size: 0.55rem !important;
      color: #808080;
      line-height: 1.4;
    }

    .table100.ver3 th {
      font-size: 0.55rem !important;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
      background-color: #6c7ae0;
    }

    .mtg {
        margin-top: 80px;
        }
  }

  @media (max-width: 330px) {

    .enlaces {
        font-size: 0.5rem;
    }

    th, td {
        font-weight: unset;
        padding-right: 0.1rem;
      }

    .table100.ver3 td {
      font-size: 0.50rem !important;
      color: #808080;
      line-height: 1.4;
    }

    .table100.ver3 th {
      font-size: 0.5rem !important;
      color: #fff;
      line-height: 1.4;
      text-transform: uppercase;
      background-color: #6c7ae0;
    }

    .mtg {
        margin-top: 20px;
        }
  }
/* ============ small devices .end// ============ */

#formCorto{
    width: fit-content;
}

/*TABLE DESIGN*/

table {
    width: 100%;
    background-color: #fff;
    text-align: center;
  }

  th, td {
    font-weight: unset;
    padding-right: 0.5rem;
  }

  .column1 {
    width: 40%;
  }

  .column2 {
    width: 10%;
  }
  .column3 {
    width: 30%;
  }

  .column4 {
    width: 20%;
  }

  .row100.head th {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .row100 td {
    padding-top: 18px;
    padding-bottom: 14px;
  }

.table100.ver3 tbody tr {
    border-bottom: 1px solid #e5e5e5;
  }

  .table100.ver3 td {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.863);
    line-height: 1.4;
  }

  .table100.ver3 th {
    font-size: 1rem;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #6c7ae0;
  }

  .table100.ver3 .row100:hover td {
    background-color: #fcebf5;
  }

  .table100.ver3 .hov-column-ver3 {
    background-color: #fcebf5;
  }

  .table100.ver3 .hov-column-head-ver3 {
    background-color: #7b88e3 !important;
  }

  .table100.ver3 .row100 td:hover {
    background-color: #e03e9c;
    color: #fff;
  }

  .res {
    overflow-x:auto;
  }

  .pColumn1 {
    width: 13%;
  }

  .pColumn2 {
    width: 14%;
  }

  .pColumn3 {
    width: 8%;
  }

  .pColumn4 {
    width: 20%;
  }

  .pColumn5 {
    width: 20%;
  }

  .pColumn6 {
    width: 5%;
  }

  .pColumn7 {
    width: 20%;
  }


  /*----------*/



#paginacion{
  width:100%;
}

#left{
  float:left;
}

#center {
  float: center;
}

#right{
  float:right;
}

.small {
  font-size: 0.95rem;
}

#listb{
  color: rgb(139, 146, 177) ;
  text-decoration:none;
}

#loginc {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  height: 300px;
}

#registerc {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  height: 300px;
}

#mtg {
    margin-top: 150px;
}

li.dropdown:last-child .dropdown-menu {
    right: 0;
    left: auto;
  }
