
nav .navbar-nav li a{
    color: rgb(139, 146, 177) !important;
    }

.navbar{
    background: #073B15 !important;
    width: 100%;
}

.center {
    text-align: center;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.jumbotron {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    height: 500px;
}

.jumbotron h1, .jumbotron h2 {
    color: #fff;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-personalizado {
    background-color: #073B15;
  }

.btn-personalizado:hover {
    text-decoration: none;
  }

.mesa-title {
    color: #073B15;
    font-weight: bold;
    font-size: 1.25 em
  }

.listing {

    list-style: none;
    padding-left: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: #fff;
    text-align: center;
}

.centrado {
    margin: 0 auto;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}
/* ============ small devices .end// ============ */

#formCorto{
    width: fit-content;
}

